body
	width 100%
	font-family 'Microsoft Yahei'
	.top
		width 100%
		border-bottom 1px solid #dfdfdf
		color #8c8c8c
		font-size 14px
		.header
			height 36px
			margin 0 auto
			line-height 36px
			&.all
				width 1210px
				.left
					float left
					span
						display inline-block
						float left
						padding-right 10px
					div
						float left
						padding 0 10px
						.icon
							background url(https://gss0.bdstatic.com/8r1VfDn-KggZnd_b8IqT0jB-xx1xbK/static/common/img/iot/arrow-down_3d94809.png?__sprite)
							display inline-block
							width 10px
							height 8px
							margin-left 2px
							background-repeat no-repeat
							vertical-align middle
					.changeCity
						position relative
						.city-drop-down
							position absolute
							width 200px
							height 183px
							top 36px
							line-height 13px
							background #fff
							border: 1px solid #dfdfdf
							display none
							z-index 10
							h3
								display inline-block
								color #73adc9
								font-size 12px
								margin-bottom 10px
								margin-top 15px
							.city
								width 200px
								height 115px
								a	
									display inline-block
									color #666
									font-size 12px
									margin 0 28px 12px -10px
							.more-city
								float right
				.right
					float right
					div
						position relative
						float right
						padding 0 5px
						&:after
								display block
								position absolute
								top 12.5px
								width 1px
								height 12px
								border-left 1px solid red
								content ""
								left 0
						a
							display inline-block
							
							
						.icon
							background url(https://gss0.bdstatic.com/8r1VfDn-KggZnd_b8IqT0jB-xx1xbK/static/common/img/iot/arrow-down_3d94809.png?__sprite)
							display inline-block
							width 10px
							height 8px
							margin-left 2px
							background-repeat no-repeat
							vertical-align middle
	.areas
		width 100%
		height 90px
		position relative
		.inner
			width 1210px
			height 60px
			margin 0 auto
			.logo
				position absolute
				height 40px
				top 30px
			.search
				position relative
				margin-left 582px
				float left
				.searchIpt
					border 1px solid red
					font-size 14px
					line-height 18px
					width 427px
					padding 10px 16px 10px 20px
					float left
					margin-top 30px
				.wrap
					width 40px
					height 40px
					float left
					margin-top 30px
					background-image url(../../../images/ser.png)
					background-repeat no-repeat
					background-position 7.5px 7.5px
					.btn
						width 40px
						height 40px
						border 1px solid red
						border-left none
					.list
						position absolute
						width 147px
						height 18px
						line-height 18px
						right 58px
						top 41px
						vertical-align middle
						a
							float left
							padding 0 4px
							margin-left 5px
							font-size 12px
							line-height 18px
			.benefit
				position relative
				border 1px solid #ebca4d
				background-color #feda4e
				width 152px
				height 40px
				float right
				margin-top 30px
				div
					margin-top 6.5px
					width 50px
					height 24px
					background-repeat no-repeat
					border 1px solid bule
					background-position 11.5px
				.first
					float left
					background-image url(../../../images/tui.png)
				.mid
					border-left 1px solid red
					border-right 1px solid red
					float left
					background-image url(../../../images/pei.png)
				.last
					float left
					background-image url(../../../images/rmb.png)
	.banner
		width 100%
		.nav
			width 1210px
			height 460px
			margin 0 auto
			.row
				width 1210px
				background-color #313137
				height 44px
				font-size 18px
				color white
				.type
					background-color rgb(255,49,140)
					display block
					width 226px
					line-height 44px
					cursor pointer
					float left
					padding 0 0 0 18px
				a
					display block
					padding 0 10px
					text-align center
					float left
					line-height 44px
					min-width 106px
			.clumn
				width 226px
				border-left 1px solid #dfdfdf
				border-right 1px solid #dfdfdf
				float left
				.level-item
					height 52px
					line-height 52px
					padding 0 20px
					border-bottom 1px solid #dfdfdf
					overflow hidden
					dl
						display inline-block
						width 184px 
						dt
							float left
							padding-right 18px
							max-width 94px
							font-size 16px
							text-align left
							color #333
							font-weight 700
						dd
							float right
							margin-left 12px	
							font-size 12px
							font-family Microsoft YaHei
							color #999
			.content
				.top-img
					font-size 0
					.left-img
						float left
					.right-img
						position relative					
						.slider1
							img
								width 246px
								height 259px
						.indicator
							position absolute
							right 73px
							width 100px
							bottom 12px
							text-align center
							margin 0 auto
							i
								display inline-block
								width 10px
								height 10px
								margin-right 5px
								border-radius 50%
								background-color rgb(255,72,131)								
				.bot-txt
					float left
					.list
						float left
						width 246px
						height 157px
						border 1px solid red
						padding 28px 10px 30px 30px
						&.one
							p
								font-size 18px
								color #333
								line-height 22px
								text-align center
								font-weight 700
								padding-right 20px
							.mid-list
								margin-top 16px
								width 226px
								a
									display inline-block
									padding-right 20px
									padding-top 10px
									font-size 12px
									font-family Microsoft Yahei
									color #7b7b7b
									&.special
										color #ff4883
						&.two
							position relative
							p
								font-size 18px
								color #333
								line-height 22px
								text-align center
								font-weight 700
								padding-right 20px
							.mid-list
								margin-top 16px
								width 206px
								height 52px
								line-height 26px
								z-index 50
								background-color white
								overflow hidden
								&:hover
									width 206px
									height 140px
									border 1px solid #dfdfdf
									
								a
									display inline-block
									padding-right 20px
									font-size 12px
									font-family Microsoft Yahei
									color #7b7b7b
									
							.jt-icon
								position absolute
								top 92px
								right 20px
								cursor pointer
						&.three
							p
								font-size 18px
								color #333
								line-height 22px
								text-align center
								font-weight 700
								padding-right 20px
							.mid-list
								margin-top 16px
								width 206px
								a
									display inline-block
									padding-right 20px
									padding-top 10px
									font-size 12px
									font-family Microsoft Yahei
									color #7b7b7b				
						&.four
							background-image url(https://gss0.bdstatic.com/8r1VfDn7KggZnd_b8IqT0jB-xx1xbK/static/list/img/nis/qr-code-discount-1x_6522af5.jpg)			
	.store
		width 1210px
		margin 0 auto
		position relative
		.left
			width 964px
			.top-title
				height 40px
				color rgb(0,0,0)
				margin-top 20px
				.theme
					font-size 20px
					line-height 40px
					float left
				.engTheme
					color #999
					font-size 16px
					line-height 22px
					float left
					margin 13px 0 0 5px
				.right-all
					font-size 14px
					float right
					line-height 32px
					margin-top 4px
					color rgb(102,102,102)					
			.brand-img
				height 329px
				.left-img
					float left
					img
						width 228px
						height 328px
						display block	
				.logo-list
					width 736px
					height 329px
					margin-left 228px
					border-top 1px solid #dfdfdf
					border-right 1px solid #dfdfdf
					.logo-item
						width 147px
						height 82px
						border-left 1px solid #dfdfdf
						border-bottom 1px solid #dfdfdf
						float left
						.logo-border
							border 3px solid white
							width 140px
							height 75px
							line-height 73px
							overflow hidden
							margin 0 auto
							img
								height auto
								width 140px
		.right
			width 226px
			position absolute
			right 0
			top 10px
			.hotTopic
				h2
					font-size 20px
					height 40px
					color #444
					font-weight 700
				.hotlist
					height 136px
					border 1px solid #dfdfdf
					position relative	
					.left-text
						width 107px
						margin 20px 0 0 17px
						h3
							font-size 16px
							color #444
							font-weight 700
							margin-bottom 10px
						p
							color #8c8c8c
							font-size 12px
					.right-pic
						img
							position absolute
							top 15px
							left 113px
							z-index -1
			.hot-mall
				width 225px
				border 1px solid #dfdfdf
				margin-top 20px
				a
					img
						display block
						width 223px
						height 110px
						overflow hidden
						z-index 0
	.scoll-right
		width 46px
		height 144px
		position fixed
		border 1px solid #dfdfdf
		left 50%
		bottom 20px
		margin-left 625px
		.back
			height 48px
			border-bottom 1px solid #dfdfdf
			a
				display inline-block
				background url(../../../images/gt.png) no-repeat
				width 46px
				height 48px
				background-position 7.5px 8.5px
				&:hover span
					display block
				span
					border 1px solid #ff4883 
					display none
					line-height 16px
					padding 7px 8px
					text-align center
					font-size 14px
					background-color #ff4883
					color #fff
					margin-left -2px
					margin-top -1px		
		.sale
			height 48px
			border-bottom 1px solid #dfdfdf
			a
				display inline-block
				background url(../../../images/erwei.png) no-repeat
				width 46px
				height 48px
				background-position 7px 8px
				&:hover
					background url(../../../images/hong.png)
					margin-left -1px
				&:hover div
					display block
				div
					position absolute
					display none
					width 133px
					height 174px
					background-color white
					border 1px solid #dfdfdf
					right 48px
					bottom -5px	
					p
						margin 16px auto
						background url(https://gss0.bdstatic.com/8r1VfDn9KggZnd_b8IqT0jB-xx1xbK/static/common/img/nis/qr-code-text-discount-1x_8c8fa4c.jpg)						
						width 101px
						height 142px
		.question
			height 48px
			a
				display inline-block
				background url(../../../images/survey.png) no-repeat
				width 46px
				height 48px
				background-position 7px 8px
				&:hover span
					display block
				span
					border 1px solid #ff4883 
					display none
					line-height 16px
					padding 7px 8px
					text-align center
					font-size 14px
					background-color #ff4883
					color #fff
					margin-left -2px
					margin-top -1px					
	.scoll-left
		position absolute
		left 50%
		margin-left -651px
		a
			position relative
			display block
			text-align center
			width 38px
			height 38px
			line-height 38px
			font-size 12px
			color #ff519e
		.one
			.food
				display none
				width 38px
				height 38px
				background url(../../../images/food.png) no-repeat
				background-position 6px 6.5px
				position absolute
		.two
			&:hover .movie
				display none
			.movie
				width 38px
				height 38px
				background-color white
				background url(../../../images/movie.png) no-repeat
				background-position 5px 4.5px
				position absolute
				z-index 500
		.three
			&:hover .yule
				display none
			.yule
				width 38px
				height 38px
				background url(../../../images/yule.png) no-repeat
				background-position 4.5px 4.5px
				position absolute
		.four
			&:hover .life
				display none
			.life
				width 38px
				height 38px
				background url(../../../images/life.png) no-repeat
				background-position 6.5px 6.5px
				position absolute		
		.five
			&:hover .hotel
				display none
			.hotel
				width 38px
				height 38px
				background url(../../../images/hotel.png) no-repeat
				background-position 3.5px 3.5px
				position absolute	
		.six
			&:hover .liren
				display none
			.liren
				width 38px
				height 38px
				background url(../../../images/liren.png) no-repeat
				background-position 5px 5px
				position absolute
	.all-floor
		width 1210px
		height auto
		margin 30px auto
		.first-floor
			.floor-header
				height 39px
				line-height 27px
				padding 6px 0
				.left
					float left
					i
						display inline-block
						float left
						width 27px
						height 27px
						background url(../../../images/food.png) no-repeat
					h3
						font-size 20px
						float left
						color #444
						font-weight 700
				.right
					float right
					a
						display inline-block
						color #767676	
						height 15px
						line-height 15px
						margin-top 8px
						font-size 14px
						&:last-child
							padding 0 0 0 14px
						&:not(:last-child)
							border-right 1px solid #dfdfdf
							padding 0 14px
			.floor-text
				width 1230px
				height 2750px
				position relative
				li
					float left
					width 236px
					margin 4px 0 50px 0px
					padding 4px 4px
					margin-right 10px
					border 1px solid transparent
					&:hover
						display block						
						border 1px solid rgb(255,72,131)
					a
						width 226px
						.imgbox
							position relative
							height 135px
							border 1px solid #dfdfdf
							overflow hidden
							.order
								background url(https://gss0.bdstatic.com/8r1VfDn7KggZnd_b8IqT0jB-xx1xbK/static/common/widget/good_item/img/free-appointment_d550c8b.png) no-repeat
								position absolute
								width 56px
								height 56px
								top 0
								left 0	
							img
								position absolute
								width 224px
								left 0
								z-index -1							
							.show
								position absolute
								bottom 0
								background-color rgba(30,23,17,.85)								
								width 224px
								opacity 0
								&:hover
									opacity 1
								i
									position relative
									top 3px
									display inline-block
									width 17px
									height 17px
									background url(../../../images/dw.png) no-repeat
								span
									height 36px
									line-height 36px
									color #fff
									font-size 14px
					a
						display block
						position relative			
						.mid1							
							margin-top 10px
							h4
								display inline-block
								height 25px
								line-height 25px
								color #444
								font-size 16px

								width 186px
								overflow hidden
								text-overflow ellipsis
								white-space nowrap
								font-weight 700	
							p
								font-size 12px
								line-height 20px
								height 40px
								color #666
								display -webkit-box
								-webkit-line-clamp 2
								overflow hidden
								text-overflow ellipsis
					.add
						height 24px
					.mid2
						height 35px
						line-height 32px
						.price
							color #ff4883
							font-size 24px
							font-family arial
							.moneyico
								margin-right 5px
								font-size 16px
						.value
							font-size 12px
							margin-left 5px
							color #9e9e9e
							line-height 13px
							margin-top 13px
							.pre-price
								span
									text-decoration line-through
					.footer
						position relative
						width 224px
						line-height 23px
						color #9e9e9e
						font-size 12px
						.rate
							color #005aa0
							display block
							height 16px							
						.sold
							float right
						.bottom-border
							position absolute
							bottom -30px
							border 1px solid #dfdfdf
							left 0
							width 120%
					&:nth-of-type(5n) .bottom-border
						width 100%
					&:last-child .bottom-border
						width 100%